* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

div.background,
div.loginForm {
    background-image: url("../images/header.jpg");
    background-position: center;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: 100%;

}

div.background {
    height: 100vh;
    width: 100vw;
    z-index: -1;
    filter: brightness(0.6) blur(10px);
}

div.loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 60vw;
    box-shadow: 0 0 20px black;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 10px;
}

form {
    width: 30vw;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3em;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1.1em;
}

input {
    font-size: 16px;
    margin: 5px;
}

i {
    margin-right: 20px;
    font-size: 1.1em;
}

button.submit {
    border: 2px solid black;
    background-color: #ddd6bd;
    font-size: 20px;
    padding: 3px 10px;
    margin: 5px 50%;
    transform: translate(-50%, 0);
    transition: 0.2s;
}

a.newUser {
    display: inline-block;
    text-decoration: none;
    color: #437870;
    background-color: #ddd6bd;
    border: 2px solid black;
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
    transition: 0.2s;
}

button.submit:hover,
a.newUser:hover {
    background-color: #437870;
    color: #ddd6bd;
    cursor: pointer;
}

a.invalid {
    color: #ac0f03;
}