<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a New Book</title>
</head>
<body>
<h1>Add your New Book</h1>
<form th:action="@{/addABook}" th:object="${bookForm}" method="post">
    <p>Title: <input type="text" th:field="*{title}"/></p>
    <p>Author: <input type="text" th:field="*{author}"/></p>
    <p>Publisher: <input type="text" th:field="*{publisher}"/></p>
    <p>ISBN Number: <input type="text" th:field="*{isbn}"/></p>
    <p>Number of Pages: <input type="number" th:field="*{numberOfPages}"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>