<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookKeeper</title>
</head>
<body>

<a href="/myBooks"><button type="button" class="options">View my Books</button></a>
<a href="/addABook"><button type="button" class="options">Add a Brand New Book</button></a>
<button type="button" class="options">Edit a Book Entry</button>
<button type="button" class="options">Add a Review to a Book</button>
<button type="button" class="options">View all Book Borrowers</button>
<button type="button" class="options">Add a Book Borrower</button>

</body>
</html>