<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BookKeeper</title>
    <link rel="stylesheet" href="css/indexstyle.css">

</head>

<body>
    <header>
        <nav class="menu">
            <a href="/myBooks">View my Books</a>
            <a href="/addABook">Add a New Book</a>
            <a href="/myBooks?isEdit=true">Edit or Delete a Book</a>
            <a href="/myBooks?isAddReview=true">Add a Review to a Book</a>
            <a href="#">View all Book Borrowers</a>
            <a href="#">Add a Book Borrower</a>
        </nav>

        <h1>Book Keeper</h1>
    </header>
</body>

</html>
