<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>BookKeeper - login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/loginStyle.css">

</head>

<body>
<div class="background">
</div>
<div class="loginForm">
    <form name='f' action="login" method='POST'>
        <h1>Login</h1>
        <table>
            <tr>
                <td><i class="fas fa-user"></i>User:</td>
                <td><input type='text' name='username' placeholder='Enter your login'></td>
            </tr>
            <tr>
                <td><i class="fas fa-lock"></i>Password:</td>
                <td><input type='password' name='password' /></td>
            </tr>
        </table>
        <button class="submit" type="submit">Submit</button>
        <td th:if="${loginError == true}"><a class="invalid">Invalid username or password</a></td>
        <br>
        <a class="newUser" href="/createAUser">Create a new user</a>
    </form>
</div>

</body>

</html>