<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Books</title>
</head>
<body>
<h1>List of Books:</h1>
<table>
    <tr>
        <th>No</th>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Publisher</th>
        <th>Number of Pages</th>
    </tr>
    <tr th:each="myBook: ${allBooks}">
        <td th:text="${myBook.bookId}"></td>
        <td th:text="${myBook.title}"></td>
        <td th:text="${myBook.author}"></td>
        <td th:text="${myBook.isbn}"></td>
        <td th:text="${myBook.publisher}"></td>
        <td th:text="${myBook.numberOfPages}"></td>
        <td th:if="${isEdit == true}"><a th:href="@{'/editABook'(bookId=${myBook.bookId})}">EDIT</a></td>
        <td th:if="${isEdit == true}"><a th:href="@{'/deleteABook'(bookId=${myBook.bookId})}">DELETE</a></td>
        <td th:if="${isAddReview == true}"><a th:href="@{'/addAReview'(bookId=${myBook.bookId})}">ADD A REVIEW</a></td>
        <td th:if="${isDisplayReviews == true}"><a th:href="@{'/displayReviews'(bookId=${myBook.bookId})}">Display Reviews</a></td>
    </tr>
</table>
<a th:href="@{'/index'}">Back to Main Page</a>
</body>
</html>